<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <!-- Separadas para o CI rodar `core` sem Laravel instalado (Symfony 6.4). -->
        <testsuite name="core">
            <directory>tests</directory>
            <exclude>tests/Laravel</exclude>
        </testsuite>
        <testsuite name="laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
